body{
    margin: 0px;
    padding: 0px;
    background-image: url(/css/img/bggg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    
}
.header{
    background-color: #b09464;
    padding: 9px;
}

.title-container{
    display: inline;
    font-family: 'Paytone One';
    position: relative;
    bottom: 5px;
   
}
.title-container > h1{
    display: inline;
    font-size: 50px;
    margin-block: 0px;
   
   
}

.title-container > h1:first-child { 
    color: #ffe999;
    
}

.title-container > h1:nth-child(2) {
    color: #ffffffff;
   
}

.links{
    display: inline;
    font-family: 'Abel';
    position: relative;
    bottom: 5px;
    font-size: 30px;
    margin-left: 10em;
}

.links > ul{
    list-style: none;
    display: inline;
    margin-left: 0px;

}

.links > ul > li{
    text-align: center;
    display: inline;
    margin-block: 0px;
   
}
.links>ul>li:first-child{
    background-color: #FAE495;
    padding-top: 50px;
    padding-bottom: 16.5px;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    
}
.search-icon-container {
    display: inline;
   
}

.search-icon-container img{
    width: 50px;
    display: inline;
    margin: left 13em;
    position: relative;
    top: 5px;
}
.img > img{
    margin-left: 30em;
    display: block;

}